@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martel Sans', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
    color: white;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    z-index: 10;
    padding: 30px;
    text-align: center;
}

.hero > span:nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero > span:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero > span:nth-child(3) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}